<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>EQUIPOS</title>
<link rel="styLesheet" href="css/estilos.css" />
</head>
<body>
	<!-- Contenedor para toda la página --->
	<div id="contenedor">
		<header>
			<h1>
			Liga de fútbol profesional<img src="img/liga_de_futbol.jpg"
					width=285 height=198 align="right">
			</h1>
		</header>
		           <!--- Menú de Navegación de Opciones --->
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="fixture.html">Fixture y resultados</a></li>
				<li><a href="equipos.html">Equipos</a></li>
			</ul>
		</nav>
		<!--- Sección para todo el contenido --->
		<div id="contenido">
			<div id="section">
				<!--- Tabla para el contenido de los equipos -->
				<table>
					<tr>
						<td><img src="img/boca junior.jpg" width=95 height=85
							align="left"></td>
						<td><p>El Club Atletico Boca Juniors,conocido simplemente como
								Boca.Fue fundada el 3 de abril de de 1905 por cinco inmigrantes
								italianos.Considerado uno de los cinco grandes del futbol
								argentino,con mayor cantidad de titulos internacionales
								oficiales en el mundo,con 18 conquistas.</p></td>
					</tr>
					<tr>
						<td><img src="img/racing.jpg" width=95 height=85 align="left"></td>
						<td><p>Racing Club se fundo oficialmente el 25 de marzo de
								1903 e inicio su actividad futbolistica en 1905,al
								afiliarse a la Asociacion del Futbol Argentino.En esta era
								conquisto los records de ser el primer equipo argentino en
								conseguir un tricampeonato local en tres temporadas completas,el
								primer campeon argentino de el mundo.</p></td>
					</tr>
					<tr>
						<td><img src="img/San Lorenzo.jpg" width=95 height=85
							align="left"></td>
						<td><p>El Club Atletico San Lorenzo de Almagro,conocido
								popularmente como San Lorenzo de Almagro o simplemente San
								Lorenzo,fundado el 1 de abril de 1908.A lo largo de su historia
								fue el primer campeon de la Copa Sudamericana(en 2002)el unico
								equipo argentino que gano la Copa Mercosur ademas de ganar la
								Copa Libertadores 2014 y ser subcampeon del Mundial de Clubes
								ese mismo año.</p></td>
					</tr>
					<tr>
						<td><img src="img/river plate.jpg" width=95 height=85
							align="left"></td>
						 <td><p>El Club Atletico River Plate,mas conocido simplemente como
								River Plate.El club fue fundado el 25 de mayo de 1901 en el
								barrio de La Boca.River Plate es uno de los clubes de futbol mas laureados
								y reconocidos del mundo,con un total de 66 titulos oficiales.De
								ese total 63 han sido conseguidos durante el profesionalismo del
								futbol argentino,siendo el club mas exitoso en la historia desde
								su profesionalizacion en 1931.</p></td>
					</tr>
					<tr>
						<td><img src="img/Independiente.jpg" width=95 height=85
							align="left"></td>
						<td><p>Independiente fundado el 1 de enero de 1905.En el ambito
								local,el Rojo es poseedor de 16 ligas y 9 copas, sumando un
								total de 25 titulos nacionales.En el ambito
								internacional,el equipo ha conseguido el record de siete titulos
								en la Copa Libertadores,siendo el unico club en ganar cuatro
								finales consecutivas,entre 1972 y 1975.</p></td>
					</tr>
				</table>
			</div>
			<!--- Contenido para todo la parte de publicidad --->
			<div id="aside">
				<header>
					<h2>Auspiciantes</h2>
					<table class="table">
						<tr>
							<td><img src="img/adidas.jpg" width=200 height=100
								align="middle"></td>
						</tr>
						<tr>
							<td><img src="img/macro.jpg" width=200 height=100
								align="middle"></td>
						</tr>
						<tr>
							<td><img src="img/chevrolet.jpg" width=150 height=100
								align="middle"></td>
						<tr>
							<td><img src="img/fravega.jpg" width=170 height=100
								align="middle"></td>
						</tr>
					</table>
				</header>
			</div>
			 <!---Contenido para el pie de página --->
			<footer>
				<h2>Avda.Pedro Ortiz de Zarate N°455.Tel 3884789555</h2>
			</footer>
		</div>
	</div>
</body>
</html>